$lapis-lazuli: rgba(36, 123, 160, 1);
$green-sheen: rgba(112, 193, 179, 1);
$isabelline: #EAF5ED;
$very-pale-yellow: rgba(243, 255, 189, 1);
$awesome: rgba(255, 22, 84, 1);

/* RGB */
$colors: (
  1: $lapis-lazuli,
  2: $green-sheen,
  3: $isabelline,
  4: $very-pale-yellow,
  5: $awesome
);
